.stockZone{
  border:solid blue 1px;
  min-height:200px;
}
.stockBox {
    font-size: 12px;
    font-family: tahoma;
    width: 100px;
    border: 1px solid #ccc;
    color: #555;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    margin:10px;
}

.stockBox:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}
.closeBtn {
    float:right;
    cursor:pointer;
    color: black;
    border: 1px solid #FFF;
    font-size: 10px;
    line-height: 0px;
    padding: 0px 2px 0px 2px;
}
.input-group{
width:200px;
margin:auto;
height:60px;
}
#insertNote{
  margin:auto
}
